<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your VERY OWN Todolist!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>

    <h1>Create a New Post</h1>
    <form action="posts/makepost" enctype="multipart/form-data" method="POST">
        <label for="imageContent">Image:</label>
        <input type="file" id="imageContent" name="file"><br><br>
        
        <label for="textContent">Text Content:</label><br>
        <textarea id="textContent" name="textContent" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
    <a href="/logout">Logout</a>
</body>
</html>